body {
  color: white;
  background-color: hsl(217, 54%, 11%);
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  width: 100%;
}

h2 {
  font-weight: 600;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  background: hsl(216, 50%, 16%);
  padding: 1em;
  border-radius: 20px;
  width: 100%;
  max-width: 280px;
  margin: 1em;
}

.itemsContainer {
  float: left;
  position: relative;
}
.itemsContainer:hover .view {
  display: block;
}
.view {
  position: absolute;
  display: none;
  top: 50%;
  width: 40px;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  z-index: 100;
}

.main-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  width: 100%;
  border-radius: 10px;
}

p {
  color: lightskyblue;
  font-weight: 400;
}

#icon {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.ethereum {
  color: hsl(178, 100%, 50%);
  height: 20px;
}

.time {
  color: hsl(215, 51%, 70%);
  justify-content: end;
}

img {
  display: inline-block;
  
}

h5 {
  display: inline-block;
  font-weight: 300;
}

.creator {
  font-weight: 300;
}

@media only screen and (max-width: 375px) {
}